@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap');

body {
  margin: 0;
  font-family: "Lato", "Hiragino Maru Gothic Pro", "Meiryo UI", Meiryo, "MS PGothic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  margin: auto;
  width: 100%;
  box-shadow: 0 2px 20px 10px rgba(100, 100, 100, 0.5);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

::-moz-selection { /* Code for Firefox */
  background: rgba(18, 235, 144, 0.6);
}

::selection {
  background: rgba(18, 235, 144, 0.6);
}
