input {
  font-family: inherit;
  font-size: 100%;
}

form {
  overflow: auto;
}

form input[type="text"]{
  width: inherit;
  outline: none;
  border: none;
  border-bottom: 1px solid lightgrey;
  padding: 1rem 0;
  background-color: transparent;
}

.comment-section {
  position: relative;
}

.comment-line {
  position: absolute;
  height: 2px;
  background-color: black;
  width: inherit;
  transform: scaleX(0);
  animation: commentLineIn 0.2s forwards;
}

@keyframes commentLineIn {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.commentButton {
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: bold;
  float: right;
  border: none;
  margin: 10px 0 0 10px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 2px;
}

.sendButton {
  background-color: #065fd4;
  color: white;
}

.sendButton:disabled {
  color: white;
  cursor: default;
  background-color: #cccccc;
}
